$font-size: 15px;
$medium-font-size: 20px;
$big-font-size: 50px;

$padding: 13px;

$blue: #4a4e69;
$black: #22223b;
$white: #f2e9e4;
$light-grey: #c9ada7;
$dark-grey: #9a8c98;

$border: 1px solid $light-grey;