$font-size: 15px;
$medium-font-size: 20px;
$big-font-size: 50px;

$padding: 13px;

$blue: rgb(0, 0, 255);
$black: rgb(23, 21, 21);
$white: rgb(232, 232, 232);
$light-grey: rgb(198, 198, 198);
$dark-grey: rgb(126, 126, 126);

$border: 1px solid $light-grey;