@import '../../Styles/variables.scss';

.container__header {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: $padding;

  ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: $padding;
  }

  li {
    display: grid;
    place-items: center;
    font-size: 1.5rem;
  }

  button{
    display:flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
    margin-top: 15px;
    color: $blue;
    width: 100%;
    height: 70%;
    background-color: $light-grey;
    border-radius: 10px;
    font-size: 1.15rem;
  }
}